.heedShow{
    display: none;
}

@media screen {
    @media only screen and (max-width: 690px){

        /*HEADER*/

        .smalPadding{
            padding: 0!important;
        }

        .heedHide{
            display: none;
        }

        .heedShow{
            display: block;
        }

        /*First row*/

        body[yahoo] .heedCont50 {
            width: 50%!important;
        }

        body[yahoo] .heedCont50 > a >img{
            width: 100%;
            height: auto;
        }

        body[yahoo] .heedCont50 > span{
            font-size: 15px;
        }

        /*Second row*/

        body[yahoo] .hidden{
            display: block!important;
            width: 10%;
            /* height: 30px!important; */
            /* max-height: 30 !important; */
        }

        body[yahoo] .heedSecond{
            width: 90%!important;
        }

        .heedSecondTh > table >tbody > tr > td > .heedSpan600{
            font-weight: 600!important;
        }

        .secondTh {
            padding-bottom: 5px!important;
        }

        /*Third row*/

        .heedThreeTd{
            width: 50%!important;
            font-size: 12px!important;
            padding-top: 29px;
        }

        .threeImg{
            width: 88%;
            padding-left: 20px;
        }

        .threeImg > a {width: 100%;}

        body[yahoo] .threeImg > a > img {
            width: 100%!important;
        }

        .thirdImg{
            width: 87%;
            height: auto;
            padding-top: 20px!important;
        }

    }

    @media only screen and (max-width: 370px){

        .heedPadd10{
            padding-left: 10px;
        }

    }


}